{% include 'include/header.html' %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
{% for r in ranobe %}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{r.photo.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{ r.author }}</div>
                        <h1 class="display-5 fw-bolder">{{r.title}}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{r.price}} руб.</span><br>
                        {% if r.stock != true %}
                        <span>Есть в наличии</span>
                        {% else %}
                        <span>Нет в наличии</span>
                        {% endif %}
                        </div>
                        <p class="lead">{{r.description}}</p>
                       
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
