<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">  
    <img id="logo" class="navbar-brand" src="{% static "img/logo.jpg" %}"  >
        <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <div class="head1">
            <li class="nav-item">
                <a href="./manga.html"><h3 id="s1">Манга</h3></a>
            </li>
            <li class="nav-item">
                <a href="./ranobe.html"><h3 id="s2">Ранобэ</h3></a>
            </li>
        
            <li class="nav-item">
    <a href="./manhwa.html"><h3 id="s3">Манхва</h3></a>

            </li>
            <li class="nav-item">
    <a href="./animefig.html"><h3 id="s4">Аниме фигурки</h3></a>

            </li></div>
            <div class="head2">            <li class="nav-item">
    <a href="./novosti.html"><h3 id="sb2">Новости</h3></a>

            </li>
            <li class="nav-item">
    <a href="./oplata.html"><h3 id="sb3">Оплата и доставка</h3></a>

            </li>
            <li class="nav-item">
    <a href="./contacts.html"><h3 id="sb4">Контакты</h3></a>

            </li>

        
<li class="nav-item">
    <a href="./vozvrat.html"><h3 id="sb5">Возврат и гарантия</h3></a>
    
</li>
</div>
<div class="head3">
<li class="nav-item">
    <h3 id="sr1">Вход</h3>

</li>
<li class="nav-item">
    <h3 id="sr2">Избранное</h3>

</li>
<li class="nav-item">
<h3 id="sr3">Корзина</h3>

</li>
</div>
        </ul>
         
        </div>
      </div>
    </nav>
    <div class="container ">
        <div class="row"> 
        <div class="col-lg-7 mx-auto ">

 

<br>
<div id="claidern">
    <h3 id="novinki">Новинки</h3>
    
</div><div class="contTovar1">
{% for m in manga %}
<div id="tovar1"><img width="120px" height="80%"   src="{{ m.photo.url }}"><p>{{ m.title }}</p></div>
 {% endfor %} </div>
<div id="claidern">
    <h3 id="hits">Хиты продаж</h3>
</div>
<div id="tovar2"></div>
<div id="claidern">
    <h3 id="newl">Новые лицензии</h3>
    </div>
    <div id="tovar3"></div>
    <h3 id="dobro">Добро пожаловать в интернет-магазин издательства Aztecs</h3>
    <p id="niz">На нашем сайте вы можете найти все от манги, до фигурок.Так же вы можете найти работы таких известных мангак как:<br>
    <i>Тацуки Фудзимото(Fire Punch), Наоки Урасава(Billy Bat),Кью Хаяшида(Dorohedoro)
    Кадзума Кондо(Smokin' Parade)</i>.<br>Поклонники аниме-культуры России могут приобрести любимые вещи в нашем магазине по хорошей цене и с удобной доставкой.<br>Так же в нашем
магазине вы можете приобрести продукцию от других издательств, таких как</p>
<ul id="izdat">
    <li>Азбука</li>
    <li>Истари Комикс</li>
    <li>Alt Graph</li>
    <li>Фабрика Комиксов</li>
    <li>Клуб Фантакстика</li>
    <li>Xl Media</li>
    <li>Комильфо</li>
</ul>
<p id="niz">Вы можете заказать понравившиеся товары онлайн на сайте нашего интернет-магазина и получить их с доставкой до Москвы, <br>
    Санкт-Петербурга, Новосибирска, Екатеринбурга, Казани, Нижнего Новгорода, Челябинска, Самары, Уфы, Ростова-на-Дону, <br>
    Омска, Волгограда, Воронежа, Краснодара, Красноярска, Перми и других городов России и СНГ. Есть вопросы? <br>
    Звоните по будням с 9:00 до 18:00, и мы будем рады вас проконсультировать!</p>
    </div>
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
</body>
</html>