        {% include 'include/header.html' %}

    <div class="container ">
        <div class="row">
        <div class="col-lg-7 mx-auto ">

 

<br>
<div id="claidern">
    <h3 id="novinki">Новинки</h3>
    
</div><div class="contTovar1">
{% for m in manga %}
<div id="tovar1"><img width="120px" height="80%"   src="{{ m.photo.url }}"><p>{{ m.title }}</p></div>
 {% endfor %} </div>
<div id="claidern">
    <h3 id="hits">Хиты продаж</h3>
</div>
<div id="tovar2"></div>
<div id="claidern">
    <h3 id="newl">Новые лицензии</h3>
    </div>
    <div id="tovar3"></div>
    <h3 id="dobro">Добро пожаловать в интернет-магазин издательства Aztecs</h3>
    <p id="niz">На нашем сайте вы можете найти все от манги, до фигурок.Так же вы можете найти работы таких известных мангак как:<br>
    <i>Тацуки Фудзимото(Fire Punch), Наоки Урасава(Billy Bat),Кью Хаяшида(Dorohedoro)
    Кадзума Кондо(Smokin' Parade)</i>.<br>Поклонники аниме-культуры России могут приобрести любимые вещи в нашем магазине по хорошей цене и с удобной доставкой.<br>Так же в нашем
магазине вы можете приобрести продукцию от других издательств, таких как</p>
<ul id="izdat">
    <li>Азбука</li>
    <li>Истари Комикс</li>
    <li>Alt Graph</li>
    <li>Фабрика Комиксов</li>
    <li>Клуб Фантакстика</li>
    <li>Xl Media</li>
    <li>Комильфо</li>
</ul>
<p id="niz">Вы можете заказать понравившиеся товары онлайн на сайте нашего интернет-магазина и получить их с доставкой до Москвы, <br>
    Санкт-Петербурга, Новосибирска, Екатеринбурга, Казани, Нижнего Новгорода, Челябинска, Самары, Уфы, Ростова-на-Дону, <br>
    Омска, Волгограда, Воронежа, Краснодара, Красноярска, Перми и других городов России и СНГ. Есть вопросы? <br>
    Звоните по будням с 9:00 до 18:00, и мы будем рады вас проконсультировать!</p>
    </div>
    </div>
    </div>
</body>
</html>