        {% include 'include/header.html' %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">прости Лена</h1>
                    <p class="lead fw-normal text-white-50 mb-0">мы разводимся</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <!-- новинки манга -->

        <section class="py-5"><label>Новинки</label>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for t in tovar %}
                    {% if t.titleManga == "new" %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{t.photo.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{t.title}}</h5>
                                    <p>{{t.price}}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'tovar_id' t.id %}">Перейти</a></div>
                           
                                     </div> 
                    </div>
                </div>{% endif %}{% endfor %}
            </div>
        </section>

         <!-- новинки манхва -->
         <section class="py-5"><label>Хиты</label>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for t in tovar %}
                    {% if t.titleManga == 'hits' %}
                      
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{t.photo.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{t.title}}</h5>
                                    <p>{{t.price}}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'tovar_id' t.id %}">Перейти</a></div>
                           
                                     </div> 
                    </div>
                </div>{% endif %}{% endfor %}
            </div>
        </section>



       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      
    </body>
</html>
