{% include 'include/header.html' %}

      <div class="container ">
        <div class="row"> 
        <div class="col-lg-7 mx-auto ">
    <h2 id="zagolovog">Манга</h2>
    <div class="karts">
        {% for m in manga %}
    <div id="kart"><img width="120px" height="80%"   src="{{ m.photo.url }}"><p>{{ m.title }}<br> {{ m.price }} рублей</p></div>
    {% endfor %}
</div>    </div></div></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    

</body>
</html>